.searchContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.test {
  display: flex;
  flex-direction: column;
}

.forms {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.singleInput {
  margin: 30px 0;
  position: relative;
  width: 100%;
}

.singleInput label {
  bottom: 5px;
  color: rgb(150, 150, 150);
  cursor: text;
  font-size: 16px;
  left: 0;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.singleInput input {
  background-color: #1b1f27;
  border: 0;
  border-bottom: 2px solid #cbd0f7;
  color: #cbd0f7;
  font-size: 16px;
  outline: 0;
  padding: 5px;
  width: 100%;
}

.singleInput input:focus, .singleInput input:valid {
  border-bottom: 2px solid cornflowerblue;
}

.singleInput input:focus ~ label, .singleInput input:valid ~ label {
  color: cornflowerblue;
  font-size: 20px;
  transform: translateY(-24px);
}

.button {
  background-color: black;
  border: none;
  border-radius: 10px;
  color: #cbd0f7;
  cursor: pointer;
  font-size: 14px;
  min-height: 30px;
  min-width: 120px;
  padding: 15px;
  text-decoration: none;
  top: 50%;
  width: 100%;
}

.button:hover {
  box-shadow: 6px 8px 8px limegreen;
  font-size: 16px;
  transition: 0.7s;
}

.albunsContainer {
  margin-left: 50px;
  margin-top: 50px;
  max-width: 750px;
}


.albuns ul {
  column-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  list-style: none;
  margin: 3rem;
  row-gap: 4rem;
  width: 100%;
}

.cards {
  background-color: #2a2b2e;
  border-radius: 15px;
  box-shadow: 6px 6px 8px #0d0e0f;
  transition: box-shadow 0.3s ease-in-out;
  width: 150px;
}

.cards:hover {
  box-shadow: 6px 6px 8px 8px limegreen;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.link {
  color: #cbd0f7;
  text-decoration: none;
}

.cards img {
  margin: 10px;
}

.h2 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.imageContainer img {
  margin-top: 100px;
}
